<div class="{{pfv}}table__toggle-icon{{#if table-toggle-icon--modifier}} {{table-toggle-icon--modifier}}{{/if}}"
  {{#if table-toggle-icon--attribute}}
    {{{table-toggle-icon--attribute}}}
  {{/if}}>
  {{#if table--IsTree-view}}
    {{pfIcon "rh-microns-caret-right"}}
  {{else}}
    {{pfIcon "rh-microns-caret-down"}}
  {{/if}}
</div>
